<h1>Characters</h1>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let character of characters">
      {{ character.name }}
    </li>
  </ul>
  <div class="text-center mt-2">
    <div class="btn-group">
      <a *ngIf="characterData?.previous !== null" [routerLink]="['/characters']" [queryParams]="{ page: currentPage - 1 }" class="btn btn-primary">
        Previous
      </a>
      <a *ngIf="characterData?.next !== null" [routerLink]="['/characters']" [queryParams]="{ page: currentPage + 1 }" class="btn btn-primary">
        Next
      </a>
    </div>
  </div>
</div>
