<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Details
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: Luke Skywalker</li>
          <li class="list-group-item">Birth Year: 19BBY</li>
          <li class="list-group-item">Gender: Male</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Face
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Hair Colour: Blond</li>
          <li class="list-group-item">Eye Colour: Blue</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Body
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Skin Colour: Fair</li>
          <li class="list-group-item">Height: 172cm</li>
          <li class="list-group-item">Mass: 77kg</li>
        </ul>
      </div>
    </div>
  </div>
</div>
