<div class="container">
   <div class="row mt-3 mb-3">
      <div class="col-12">
         <div class="card">
            <div class="card-header">
               Details
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item character-name">Name: {{ character?.name }}</li>
               <li class="list-group-item character-birth-year">
                  Birth Year: {{ character?.birth_year }}
               </li>
               <li class="list-group-item character-gender">
                  Gender: {{ character?.gender | titlecase }}
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-6">
         <div class="card">
            <div class="card-header">
               Face
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item character-hair-colour">
                  Hair Colour: {{ character?.hair_color | titlecase }}
               </li>
               <li class="list-group-item character-eye-colour">
                  Eye Colour: {{ character?.eye_color | titlecase }}
               </li>
            </ul>
         </div>
      </div>
      <div class="col-6">
         <div class="card">
            <div class="card-header">
               Body
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item character-skin-colour">
                  Skin Colour: {{ character?.skin_color | titlecase }}
               </li>
               <li class="list-group-item character-height">Height: {{ character?.height }} cm</li>
               <li class="list-group-item character-mass">Mass: {{ character?.mass }} kg</li>
            </ul>
         </div>
      </div>
   </div>
</div>
